<div id="formContent">
    <div>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="text-lg-center nav-link btn-outline-success active" id='sales-tab' data-toggle='pill'
                    href="#addUser" roll='tab' aria-controls='addUser'
                    aria-selected="true">ADD USER</a>
            </li>
            <li class="nav-item">
                <a class="text-lg-center nav-link btn-outline-danger " id="manager-tab" data-toggle='pill'
                    href="#removeUser" roll='tab' aria-controls=
                    'removeUser'>REMOVE USER</a>
            </li>
        </ul>
    </div>
</div>