<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/loginIcon.jpg" id="icon"
                alt="User Icon" />
            <div>
                <h5> ABH Quoting App </h5>
            </div>
        </div>

        <!-- Login Form -->
        <form action="/User_Authenticate" method="POST">
            <input type="text" id="login" class="fadeIn second" name="username"
                placeholder="login" value="<%= login%>">
            <input type="text" id="password" class="fadeIn third" name="password"
                placeholder="password" value="<%= password%>">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


        <!-- Popup section -->
        <div class="popup-wrap">
            <div class="popup-box">
                <h2>Title of Popup</h2>
                <h3>A sub-heading for the popup with a little description.</h3>
                <a class="close-btn popup-close" href="#">x</a>
            </div>

        </div>
    </div>