<!DOCTYPE html>
<html lang="en">

<%-include ./partials/Head/head.ejs %>

<body class="">
        <div class="wrapper ">
            <!--Side bar for either manager or sales using Auth value passed in through server routing -->
            <%-include ./partials/Sidebar/sideBar.ejs %>

            <!-- Main Panel shown based on what is passed in through server panelView variable  ** This is set in main Panel ejs file -->

            <%-include ./partials/MainPanel/mainPanel.ejs %>

            <!-- Footer of the panel if any ==> not needed atm  -->

            <!-- Load in scripts from partial file -->
            <%-include ./partials/Script/script.ejs %>
        </div>
</body>