<div class="content">
    <div class="col-md-12">
        <div class="card card-plain">
            
                <div class="card-body ">

                    <%-include ./materialListContent/materialTables.ejs%>
                </div>
            </div>
        </div>

    </div>
