<div class="sidebar" data-color="purple" data-background-color="white"
  data-image="/img/sidebar-1.jpg">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  _-->
  <div class="logo">
    <a class="simple-text logo-normal">
      <%=cred.name%>
      </a>
    </div>

    <div class="sidebar-wrapper ">
      <ul class="nav">
        <li class="nav-item ">
          <p class="nav-link underlineHover" >
            <i class="material-icons">contacts</i>
            <h4> <%if(cred.admin) {%>
                    Admin
                  <%} else if(cred.manager) { %>
                    Manager
                  <%} else{ %> 
                    Sales
                  <%} %>
                
                </h4>
          </p>
     
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./dashboard.html">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./user.html">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./tables.html">
            <i class="material-icons">content_paste</i>
            <p>Material List</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./typography.html">
            <i class="material-icons">library_books</i>
            <p>Typography</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./map.html">
            <i class="material-icons">feedback</i>
            <p>Message Board</p>
          </a>
        </li>
        
        <% if(cred.admin || cred.manager) { %>
        <!-- Admin/Manager Side Bar options -->
          <li class="nav-item">
          <a class="nav-link" href="./icons.html">
            <i class="material-icons">group_add</i>
            <p class='text-danger'>Add User</p>
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./icons.html">
              <i class="material-icons">person_add_disabled</i>
              <p class='text-danger'>Remove User</p>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="./icons.html">
                <i class="material-icons">person_add_disabled</i>
                <p class='text-danger'>Remove User</p>
              </a>
            </li>
        <% } %>

        <li class="nav-item active-pro">
          <a class="nav-link" href="Quoting_App/LogOut">
            <i class="material-icons">lock</i>
            <p>Log Out</p>
          </a>
        </li>
      </ul>
    </div>
  </div>