
<div class="main-panel">
  <!-- the Nav Bar also used to display side bar -->
  <%-include ./mainPanelPartials/navBar/navBar.ejs%>

  <!-- The Dashboard partial -->
  <%-include ./mainPanelPartials/dashboard.ejs%>
  </div>