<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Company (disabled)</label>
        <input type="text" class="form-control" value="ABH PHarma/Nature" disabled>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Username</label>
        <input type="text" value='<%=user.Username %>' class="form-control" disabled>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Department</label>
        <input type="text" value= '<%=user.Department %>'  class="form-control" disabled>
      </div>
    </div>
  </div>