<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Fist Name</label>
        <input type="text" value='<%=user.FirstName %>' class="form-control" disabled>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Last Name</label>
        <input type="text" value='<%=user.LastName %>' class="form-control" disabled>
      </div>
     
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label class="bmd-label-floating">Email address</label>
          <input type="email" value= '<%=user.Email %>' name='email' class="form-control" id="email" required>
        </div>
    </div>
  </div>