
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-danger">Change Password</p>
                  </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Old Password</label>
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">New Password</label>
                        <input type="password" class="form-control" name="newPassword" id="newPassword">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Re-Enter New Password</label>
                        <input type="password" class="form-control" name='newPasswordRepeat' id="newPasswordRepeat">
                      </div>
                    </div>
                  </div>